@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto+Mono&display=swap');

:root {
  --footer-height: 60px;
}

.typewriter h1 {
  font-family: 'Roboto Mono', monospace;
  overflow: hidden;
  border-right: .15em solid orange;
  white-space: nowrap; 
  margin: 0 auto; 
  letter-spacing: .15em;
  animation: 
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}

html { 
  position: relative;
  min-height: 100%;
}

body {
  font-family: 'Poppins', sans-serif;
  margin-bottom: var(--footer-height);
}

.col p {
  font-size: 20px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: var(--footer-height);
  background-color: #212529;
  color: whitesmoke;
  padding: 10px 0;
}

.footer > div > * {
  padding: 8px 0;
  margin: 0;
}